<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="login-container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" class="input-field" name="username" placeholder="Username" required>
            <input type="password" class="input-field" name="password" placeholder="Password" required>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <button onclick="location.href='{% url 'create_account' %}'" class="btn btn-secondary">Create an Account</button>
    </div>

</body>
</html>