<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>User Profile / Settings</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

  <div class="settings-container">
    <h2>User Profile & Settings</h2>
    
    <form method="POST" action="{% url 'change_pass' %}">
      {% csrf_token %}
      <!-- Personal Info -->
      <div class="section">
        <label for="name">Full Name</label>
        <input type="text" id="name" name="name" value="{{ full_name }}" readonly>

        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone" value="{{ phonenum }}" readonly>
      </div>

      <!-- Insurance Info -->
      <div class="section">
        <label for="insurance">Insurance Provider</label>
        <input type="text" id="insurance" name="insurance" value="{{ provider }}" readonly>

        <label for="policy">Policy Number</label>
        <input type="text" id="policy" name ="policy" value="{{ policy }}" readonly>
      </div>

      <!-- Password -->
      <div class="section">
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" placeholder="Enter new password">

        <label for="confirm-password">Confirm New Password</label>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm new password">
      </div>

      <!-- Save & Delete -->
      <button type="submit" class="btn btn-primary">Change Password</button>
      <a href="{% url 'delete_account' %}"><button type="button" class="btn btn-secondary danger">Delete Account</button></a>
    </form>
  </div>


</body>
</html>